<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>




    <div class="container">
      <div class="col-xs-12">

        <%= link_to "New Travel", travels_new_path, class: "btn btn-primary" %>
      </div>

    <% @travels.each do |travel| %>
          <div class="col-xs-4">
            <div class="travel">
              <%= image_tag  travel.img_url , :width => 320 , :height => 240, :class => "img-thumbnail", :style => "width:320px;height:240px;" %>
              <h2><span><%= travel.name + " / " + travel.country %></span></h2>
            </div>
          </div>

    <% end %>

    </div>

