@import "bootstrap";

html {
  overflow-y: scroll;
}

.carousel-inner img {
   margin: auto;
 }

.navbar {
  background-color: #ffd526;
}




.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #0d1003;
  transition: 0.7s;
}

.nav-pills {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
    background-color: #383a22;
    border: 5px;
  }
}
